Source: seafile-client
Section: net
Priority: extra
Maintainer: Shuai Lin <linshuai2012@gmail.com>
Build-Depends:
	debhelper (>= 7),
	autotools-dev,
	libssl-dev,
	libsqlite3-dev,
	intltool,
	libglib2.0-dev,
	libevent-dev,
	uuid-dev,
	libgtk2.0-dev,
	valac
Standards-Version: 3.9.4
Homepage: https://github.com/haiwen/seafile

Package: seafile-client
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libglib2.0-0,
	libgtk2.0-0 (>= 2.16.0),
	libsqlite3-0,
	libuuid1,
	libssl0.9.8 | libssl1.0.0,
	libevent-2.0-5,
	python (>= 2.6),
	python-webpy,
	python-mako,
	python-simplejson
Description: online file storage and collaboration tool - client
 This package provides a desktop client for Seafile, a tool for building
 private clouds for file sharing and collaboration among team members.
 .
 Users first create a file library on the web and upload files to it. Then
 they can share it with other users or teams.
 .
 File libraries can also be synchronized among computers and mobile
 devices. Whenever a file is added, deleted, or modified in a downloaded
 file library, Seafile automatically uploads the latest version to the
 server and then synchronizes it to everyone's computer.